[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {extras = ["all"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
psycopg2-binary = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11.5"

[scripts]
dev = "uvicorn main:app --reload"